<h1>All Bookings</h1>

<% @bookings.each do |booking| %>

    <h2>Flight ID: <%= booking.flight.id %> </h2>
    <h2>Flight Time: <%= booking.flight.start %> minutes </h2>
    <h2>Flight Duration: <%= booking.flight.duration %> </h2>
    <h2>Flight Depature Airport: <%= booking.flight.departure_airport.airport_code %> </h2>
    <h2>Flight Arrival Airport: <%= booking.flight.arrival_airport.airport_code %> </h2>

    <h3>Passengers</h3>
    <% booking.passengers.each do |passenger| %>
        <p>Name: <%= passenger.name %> </p>
        <p>Email: <%= passenger.email %> </p>
    <% end %>

<% end %>